{{ define "content" }}
<div class="row justify-content-center">
    <div class="col-md-6 col-lg-5">
        <div class="card shadow">
            <div class="card-header bg-white border-bottom-0 mt-2">
                <h3 class="text-center fw-bold">Registrarse</h3>
            </div>
            <div class="card-body p-4">
                {{ if .Error }}
                <div class="alert alert-danger" role="alert">
                    Error al registrarse. Verifique los datos e intente nuevamente.
                </div>
                {{ end }}
                <form action="/register" method="POST">
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre Completo</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" required>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Correo Electrónico</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <div class="mb-3">
                        <label for="confirmPassword" class="form-label">Confirmar Contraseña</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirm_password"
                            required>
                    </div>
                    <div class="mb-3">
                        <label for="direccion" class="form-label">Dirección</label>
                        <input type="text" class="form-control" id="direccion" name="direccion" required>
                    </div>
                    <div class="mb-3">
                        <label for="telefono" class="form-label">Teléfono</label>
                        <input type="text" class="form-control" id="telefono" name="telefono" required>
                    </div>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary">Registrarse</button>
                    </div>
                    <div class="text-center mt-3">
                        <span class="small">¿Ya tienes cuenta? <a href="/login" class="text-decoration-none">Inicia
                                Sesión</a></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{ end }}